<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <typeAliases>
        <typeAlias alias="PunchingHoleVO" type="com.dten.punchinghole.bean.PunchingHoleVO"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/education"/>
                <property name="username" value="root"/>
                <property name="password" value="112233"/>
                <!-- 解决数据库检测到长时间不使用的连接，会自动断开连接而引起的错误提示-->
                <property name="poolPingQuery" value="SELECT NOW()" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/punchingHoleMapper.xml"/>
    </mappers>
</configuration>